@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="wi dth=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="text-center">
        <h3>We' re going to have an exci ting party.</h3>
        <h2>And you are invited.</h2>
        <a asp-action="RsvpForm" class="btn btn-primary">RSVP Now</a>
    </div>
</body>
</html> 
